#root {
  max-width: 1280px;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  background-color: #008481;
  width: 100vw;
}

.headerItem {
  text-align: center;
  margin-right: 1rem;
}

.content {
  padding: 2rem;
}